<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Matomo Analytics -->
{% include head-custom-matomo.html %}
<div class="container-lg my-5 markdown-body">
<h1>
<!--<a href="Home.md"><img align="left" width="80" height="80" src="Images/logo_Z4D.png"></a><div class="titre">ZigBeeForDomoticZ plugin Wiki<div>-->
<img align="left" width="80" height="80" src="/wiki/Images/logo_Z4D.png"><div class="titre">ZigBeeForDomoticZ plugin Wiki<div>
</h1>
</div>

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- end custom head snippets -->
